/* ! Home start */

.home {
    position: relative;
    top: -1.8%;
}

.home-img {
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: -1;
}

.home-img img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.car-holder {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.car-holder img {
    z-index: 2;
}

.car-holder .shape {
    position: absolute;
    right: 120px;
    top: 0;
    height: 100%;
    width: 450px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    transform: skew(-20deg, 0deg);
    overflow: hidden;
}

.car-holder .shape div {
    background-color: #222;
    width: 100px;
    height: 80%;
    z-index: 1;
}

.car-holder .shape div:nth-child(2) {
    background-color: #ff9900;
    width: 200px;
    height: 100%;
}

.car-holder .shape div:nth-child(3) {
    background-color: #222;
    width: 100px;
    height: 80%;
    margin-bottom: 30%;
}

.home .content-wrap {
    height: 600px;
    display: flex !important;
    align-items: center !important;
}

.caption.medium {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.caption.big {
    font-size: 36px;
    line-height: 60px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

.caption.small {
    font-size: 18px;
    line-height: 28px;
    color: #ddd;
    margin-bottom: 20px;
}


/* !------------------------------------------------------ */

/** Media Queries start */

@media screen and (max-width:900px) {
    .car-holder {
        display: none;
    }

    .caption.medium {
        font-size: 16px;
    }

    .caption.big {
        font-size: 24px;
        line-height: 35px;
    }

    .caption.small {
        font-size: 18px;
        line-height: 18px;
        padding: 0 25px 0 0;
        width: 90%;
    }

    .caption.small br {
        display: none;
    }

    .home .content {
        padding: 0 0 60px 15px;
    }
}

/** Media Queries end */

/* ! Home end */

/* ! About start */

.about.padding {
    padding: 100px 0;
}

.about-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.about-image {
    position: relative;
    margin-top: -80px;
    z-index: 1;
}

.about-image::before {
    background: #ff9900;
    border-radius: 2px;
    transform: skew(-20deg, 0deg);
    content: "";
    width: 200px;
    height: calc(100% + 70px);
    position: absolute;
    right: 200px;
    bottom: -80px;
    z-index: -1;
}

.about-image .about-img1 {
    max-width: 300px;
    transform: translate(20px, 40px);
}

.about-image .about-img2 {
    max-width: 200px;
    position: absolute;
    right: 80px;
    bottom: 25px;
}

.about-image img {
    border-radius: 3px;
}

.round-text {
    position: absolute;
    right: 100px;
    top: 60px;
}

.round-text::before {
    background-image: url(../../images/location-marker.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30%;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

figure {
    margin: 0 0 1rem;
}

.round-text img {
    animation-name: spin;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.about-heading {
    margin-bottom: 40px;
    margin-top: -35px;
}

.about-heading h4 {
    font-size: 16px;
    color: #ff9900;
    text-transform: uppercase;
    letter-spacing: 1;
    display: inline-flex;
    align-items: center;
    padding-bottom: 10px;
}

.about-heading h4 span {
    background-color: #ff9900;
    transform: skew(-20deg, 0deg);
    display: inline-flex;
    width: 4px;
    height: 15px;
    position: relative;
    margin-left: 20px;
    margin-right: 10px;
}

.about-heading h4 span::before {
    background-color: #ff9900;
    content: "";
    width: 4px;
    height: 100%;
    position: absolute;
    right: 8px;
    top: 0;
    opacity: 0.8;
}

.about-heading h4 span::after {
    background-color: #ff9900;
    content: "";
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 16px;
    opacity: 0.5;
}

.about-heading h2 {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: -1.5px;
    display: block;
}

.about-heading p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 17px;
    line-height: 27px;
}

.about-info-text {
    display: flex;
    align-items: flex-start;
    column-gap: 40px;
    padding-top: 10px;
}

.about-info-text li {
    display: flex;
    column-gap: 15px;
}

.about-info-text .owner-thumb {
    width: 80px;
    height: 80px;
    border-radius: 50%;

}

.about-info-text .owner h4 {
    font-size: 17px;
    font-weight: 600;
    line-height: 1;
    color: #666;
    display: block;
}

.about-info-text .owner .signature {
    width: 140px;
}

.about-info-text li h2 {
    font-size: 32px;
    line-height: 42px;
    margin: 0 0 10px;
    font-weight: 600;
    letter-spacing: -1px;
}

.about-info-text li h2 a {
    color: #ff9900;
    font-weight: 700;
    margin: 0;
}


.about-info-text li h2 span {
    font-size: 17px;
    font-weight: 500;
    line-height: 1;
    color: #666;
    display: block;
    margin-bottom: 5px;
}

/** Media Queries start */

@media screen and (max-width:900px) {
    .about.padding {
        padding: 30px 0;
    }

    .about-wrapper {
        grid-template-columns: 1fr;
        gap: 8rem;
        padding-left: 15px;
    }

    .about-image::before {
        background: #ff9900;
        border-radius: 2px;
        transform: skew(-20deg, 0deg);
        content: "";
        width: 200px;
        height: 100%;
        position: absolute;
        right: 100px;
        bottom: -80px;
        z-index: -1;
    }

    .about-image {
        padding-top: 55px;

    }

    .about-image .about-img1 {
        max-width: 240px;
    }

    .about-image .about-img2 {
        right: 15px;
        bottom: 1px;
    }

    .round-text {
        top: 150px;
    }

    .about-info-text {
        flex-direction: column;
        gap: 10px;
    }
}


/** Media Queries end */


/* ! About end */

/* ! Service start */

.service {
    position: relative;
    z-index: 1;
}

.service.padding {
    padding: 100px 0;
}

.service.bg-grey {
    background: #F4F5F8;
    ;
}

.bg-half {
    background-image: url(../../images/slider-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 59.2%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.bg-half::before {
    background: rgba(2, 2, 2, 0.7);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.service-heading {
    margin-bottom: 40px;
    text-align: center !important;
}

.service-heading h4 {
    font-size: 16px;
    color: #ff9900;
    text-transform: uppercase;
    letter-spacing: 1;
    display: inline-flex;
    align-items: center;
}

.service-heading h4 span {
    background: #ff9900;
    transform: skew(-20deg, 0deg);
    display: inline-flex;
    width: 4px;
    height: 15px;
    position: relative;
    margin-left: 20px;
    margin-right: 10px;
}

.service-heading h4 span::before {
    background: #ff9900;
    content: "";
    width: 4px;
    height: 100%;
    position: absolute;
    right: 8px;
    top: 0;
    opacity: 0.8;
}

.service-heading h4 span::after {
    background: #ff9900;
    content: "";
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 16px;
    opacity: 0.5;
}

.service-heading h2 {
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    letter-spacing: -1.5px;
    display: block;
    margin: 0 0 10px;
}

.service-heading h2.white {
    color: #fff;
}

.service .service-heading p {
    color: #ddd;
    margin-bottom: 0;
    font-size: 17px;
    line-height: 27px;
}

.service-item-wrapper {
    padding-top: 20px;
    gap: 0rem;
}

.service-item {
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 15%);
    width: 400px;
    height: 100%;
}

.service-item:nth-child(1) {
    padding-left: 0;
}

.service-thumb {
    position: relative;
}

.service-thumb img {
    width: 100%;
}

.service-shape-wrap {
    transform: skew(-20deg, 0deg);
    width: 200px;
    height: 200px;
    position: absolute;
    right: 20px;
    bottom: 0;
    overflow: hidden;
}

.service-shape {
    background-color: #ff9900;
    border-radius: 2px;
    position: absolute;
    width: 80px;
    height: 180px;
    left: 80px;
    bottom: 0;
    transition: all 300ms cubic-bezier(.165, .85, .45, 1);
    transition-delay: .1s;
}

.service-shape:before {
    background-color: #222;
    border-radius: 2px;
    content: "";
    width: 80px;
    height: 140px;
    position: absolute;
    right: 60px;
    bottom: 0;
    opacity: 0.95;
    transition: all 300ms cubic-bezier(.165, .85, .45, 1);
    transition-delay: .2s;
}

.service-shape:after {
    background-color: #222;
    border-radius: 2px;
    content: "";
    width: 40px;
    height: 120px;
    position: absolute;
    right: -20px;
    bottom: 0;
    opacity: 0.95;
    transition: all 300ms cubic-bezier(.165, .85, .45, 1);
    transition-delay: .3s;
}

.service-item:hover .service-shape{
    height: 200px;  
}

.service-item:hover .service-shape:before {
    height: 160px;
}

.service-item:hover .service-shape:after {
    height: 140px;
}

.service-car {
    position: absolute;
    right: -30px;
    bottom: -30px;
    max-width: 230px;
    transition: all .3s cubic-bezier(.165, .85, .45, 1);
}

.service-item:hover .service-car {
    bottom: -35px;
    right: 0;
}

.service-content {
    background-color: #fff;
    padding: 30px;
    text-align: start;
}

.service-content h3 {
    font-size: 22px;
    line-height: 1.3;
    font-weight: 700;
    margin: 0 0 10px;
    color: #222;
    letter-spacing: -0.5px;
}

.service-content h3 a {
    color: #222;
}

.service-content p {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 27px;
    margin-top: 0;
    color: #666;
}

.service-content .read-more {
    background-color: #ff9900;
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
    border-radius: 2px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    display: inline-block;
    height: 35px;
    padding: 0 23px 0 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    transition: background 0.5s ease-in-out; /* Geçiş süresi ve tarzı */
    background-size: 200%; /* Arka plan genişletildi */
    background-image: linear-gradient(to right, #ff9900 50%, #222 50%);
}

.service-content .read-more:hover {
    background-position: -100%; /* Arka planın siyaha kaymasını sağlar */
}

.service-content .read-more:before {
    background-color: #222;
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 300ms cubic-bezier(.165, .85, .45, 1);
    z-index: -1;
}


/** Media Queries start */

@media screen and (max-width:900px) {
    .service.padding{
        padding: 30px 15px;
    }

    .service-heading h2 {
        font-size: 25px;
        line-height: normal;
        font-weight: 700;
        letter-spacing: -1.5px;
        display: block;
        margin: 0 0 10px;
    }
    
    .service .service-heading p {
        color: #ddd;
        margin-bottom: 15px;
        font-size: 15px;
        line-height: normal;
    }

    .service .service-heading p br{
        display: none;
    }

    
}

/* ! Service end */