/** Home Media Queries start */

@media screen and (max-width:900px) {
    .car-holder {
        display: none;
    }

    .caption.medium {
        font-size: 16px;
    }

    .caption.big {
        font-size: 24px;
        line-height: 35px;
    }

    .caption.small {
        font-size: 18px;
        line-height: 18px;
        padding: 0 25px 0 0;
        width: 90%;
    }

    .caption.small br {
        display: none;
    }

    .home .content {
        padding: 0 0 60px 15px;
    }
}

/** Home Media Queries end */


/* !------------------------------------------------------ */


/** About Media Queries start */

@media screen and (max-width:900px) {
    .about.padding {
        padding: 30px 0;
    }

    .about-wrapper {
        grid-template-columns: 1fr;
        gap: 8rem;
        padding-left: 15px;
    }

    .about-image::before {
        background: #ff9900;
        border-radius: 2px;
        transform: skew(-20deg, 0deg);
        content: "";
        width: 200px;
        height: 100%;
        position: absolute;
        right: 100px;
        bottom: -80px;
        z-index: -1;
    }

    .about-image {
        padding-top: 55px;

    }

    .about-image .about-img1 {
        max-width: 240px;
    }

    .about-image .about-img2 {
        right: 15px;
        bottom: 1px;
    }

    .round-text {
        top: 150px;
    }

    .about-info-text {
        flex-direction: column;
        gap: 10px;
    }
}


/** About Media Queries end */


/* !------------------------------------------------------ */


/** Service Media Queries start */

@media screen and (max-width:900px) {
    .service.padding {
        padding: 30px 15px;
    }

    .service-heading h2 {
        font-size: 25px;
        line-height: normal;
        font-weight: 700;
        letter-spacing: -1.5px;
        display: block;
        margin: 0 0 10px;
    }

    .service .service-heading p {
        color: #ddd;
        margin-bottom: 15px;
        font-size: 15px;
        line-height: normal;
    }

    .service .service-heading p br {
        display: none;
    }


}

/** Service Media Queries end */


/* !------------------------------------------------------ */


/** Booking Media Queries start */

@media screen and (max-width:900px) {

    .booking::before {
        display: none;
    }

    .booking:after {
        display: none;
    }

    .padding {
        padding: 50px 15px;
    }

    .booking-heading h2 {
        font-size: 24px;
    }

    .booking-form {
        grid-template-columns: 1fr;
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-lg-4 {
        display: none;
    }

}


/** Booking Media Queries end */


/* !------------------------------------------------------ */


/** Pricing Media Queries start */

@media screen and (max-width:900px) {

    .pricing.padding {
        padding: 50px 0;
    }

    .tab-wrapper {
        grid-template-columns: 1fr;
        padding: 30px 15px 0;
    }

    .pricing-heading h2 {
        font-size: 24px;
    }

    .pricing-heading p {
        font-size: 17px;
        line-height: normal;
        margin-bottom: 0;
        padding: 0 10px;
    }

    .pricing-heading p br {
        display: none;
    }

    .pricing-tab-menu li:not(:last-of-type):before {
        background-color: #ccc;
        width: 15px;
        height: 2px;
        content: '';
        position: absolute;
        right: 0px;
        top: 51%;
        transform: translateY(0);
    }

    .pricing-tab-menu li:not(:last-of-type) {
        padding-right: 30px;
        padding-left: 10px;
    }

    .pricing-tab-menu li:nth-child(2) {
        padding-left: 20px;
    }
}

/** Pricing Media Queries end */

/* !------------------------------------------------------ */



/** Download Media Queries start */

@media screen and (max-width:900px) {

    .download.padding {
        padding: 50px 15px;
    }

    .download h2 {
        font-size: 24px;
        line-height: normal;
    }

    .taxi-holder {
        display: none;
    }
}

/** Download Media Queries end */


/* !------------------------------------------------------ */


/** Testimonial Media Queries start */

@media screen and (max-width:900px) {
    .testimonial {
        padding: 0 15px;
    }

    .testimonial .wrapper {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .testimonial-heading h2 {
        font-size: 24px;
        line-height: normal;
    }

    .testimonial-heading p {
        margin-bottom: 0;
    }

    .testi-items {
        width: 335px;
    }

    .feature-wrapper {
        margin-left: 0;
        padding: 50px;
    }

    .feature-heading h2 {
        font-size: 24px;
        line-height: normal;
    }
}

/** Testimonial Media Queries end */



/* !------------------------------------------------------ */



/** CTA Media Queries start */

@media screen and (max-width:900px) {
    .cta-content h2 {
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }

    .cta-men {
        display: none;
    }

    .cta {
        clip-path: none;
        margin-top: 40px;
    }

    .cta-content p {
        font-size: 18px;
        font-weight: 500;
        color: #ccc;
        margin: 0;
        text-align: center;
    }

    .cta-content p br{
        display: none;
    }

    .cta-content .cta-call {
        justify-content: center;
    }

    .cta-content .cta-call i {
        width: 50px;
        height: 50px;
    }

    .cta-content .cta-call p a {
       font-size: 22px;
    }
}

/** CTA Media Queries end */



/* !------------------------------------------------------ */


/** Blog Media Queries start */

@media screen and (max-width:900px) {
    .blog.padding {
        padding: 50px 15px;
    }

    .blog-heading h2 {
        font-size: 24px;
        line-height: 34px;
    }

    .post-wrapper {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

/** Blog Media Queries end */


/* !------------------------------------------------------ */


/** Footer Media Queries start */

@media screen and (max-width:900px){
    .top-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .footer-top .brand {
        display: block;
        padding: 50px 30px;
        background-image: url(../../images/texture.png);
        width: 100%;
        background-color: var(--bs-dark);
    }
    
    .footer-top .brand p::before {
        display: none;
    }
    
    .footer-top .brand::before {
        display: none;
    }
    
    .footer-top .brand::after {
        display: none;
    }
    
    .footer-top .footer-call {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 32px 15px;
        position: relative;
        z-index: 1;
    }
    
    .footer-mid-wrap {
        padding: 45px 15px 95px;
    }
    
    .mid-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    
    }
    
    .mid-wrapper li {
        margin-bottom: 20px;
    }
}



/** Footer Media Queries end */


/* !------------------------------------------------------ */